@model AccountingWeb.BindingModels.ExpenditureBindingModel

@{
    ViewBag.Title = "Create";
}
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
<!-- jQuery UI CSS Reference -->
<link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" />
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>

<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('#Expenditure_Date').datepicker({ dateFormat: 'd.m.yy.' });
    })
</script>
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Expenditure</h4>
        <hr />
        @Html.ValidationSummary(false)

        <div class="form-group">
            @Html.LabelFor(model => model.Expenditure.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expenditure.Date)
                @Html.ValidationMessageFor(model => model.Expenditure.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expenditure.JournalEntryNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expenditure.JournalEntryNum)
                @Html.ValidationMessageFor(model => model.Expenditure.JournalEntryNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expenditure.AmountCash, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expenditure.AmountCash)
                @Html.ValidationMessageFor(model => model.Expenditure.AmountCash)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expenditure.AmountTransferAccount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expenditure.AmountTransferAccount)
                @Html.ValidationMessageFor(model => model.Expenditure.AmountTransferAccount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expenditure.AmountNonCashBenefit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expenditure.AmountNonCashBenefit)
                @Html.ValidationMessageFor(model => model.Expenditure.AmountNonCashBenefit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expenditure.Article22, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expenditure.Article22)
                @Html.ValidationMessageFor(model => model.Expenditure.Article22)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expenditure.FK_VAT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Expenditure.FK_VAT, new SelectList(Model.VATs, "Id", "Percentage"))
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expenditure.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expenditure.Total)
                @Html.ValidationMessageFor(model => model.Expenditure.Total)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
