@model IEnumerable<DataRepository.Models.OutgoingInvoice>

@{
    ViewBag.Title = "Index";
    int counter = 0;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            No.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceClassNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(++counter)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Date)*@
            @String.Format("{0:d}", item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceClassNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Ajax.ActionLink("Delete", "Delete", new { id = item.Id },
            new AjaxOptions()
            {
                HttpMethod = "Post",

                Confirm = "Do you really want to remove this item?",
                //OnComplete = "function() { $(this).parent().parent().remove();}"
                OnComplete = "location.reload()"

            })
        </td>
    </tr>
}

</table>
