@model AccountingWeb.BindingModels.ReceiptBindingModel

@{
    ViewBag.Title = "Edit";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
}
<!-- jQuery UI CSS Reference -->
<link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" />
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>

<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('#Receipt_Date').datepicker({ dateFormat: 'd.m.yy.' });
    })
</script>
<script type="text/javascript">
    $(function () {
        $.validator.methods.date = function (value, element) {
            Globalize.culture("hr-HR");
            // you can alternatively pass the culture to parseDate instead of
            // setting the culture above, like so:
            // parseDate(value, null, "en-AU")
            return this.optional(element) || Globalize.parseDate(value) !== null;
        }
    });
</script>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Receipt</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Receipt.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Receipt.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Receipt.Date)
                @Html.ValidationMessageFor(model => model.Receipt.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Receipt.JournalEntryNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Receipt.JournalEntryNum)
                @Html.ValidationMessageFor(model => model.Receipt.JournalEntryNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Receipt.AmountCash, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Receipt.AmountCash)
                @Html.ValidationMessageFor(model => model.Receipt.AmountCash)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Receipt.AmountTransferAccount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Receipt.AmountTransferAccount)
                @Html.ValidationMessageFor(model => model.Receipt.AmountTransferAccount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Receipt.AmountNonCashBenefit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Receipt.AmountNonCashBenefit)
                @Html.ValidationMessageFor(model => model.Receipt.AmountNonCashBenefit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Receipt.FK_VAT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Receipt.FK_VAT, new SelectList(Model.VATs, "Id", "Percentage"))
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Receipt.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Receipt.Total)
                @Html.ValidationMessageFor(model => model.Receipt.Total)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
