@model IEnumerable<DataRepository.Models.Receipt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FK_VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JournalEntryNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountTransferAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountNonCashBenefit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FK_VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JournalEntryNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountTransferAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountNonCashBenefit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
